<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="./assets/css/nice-select.css">
    <link rel="stylesheet" href="./assets/css/style.css">
    <script src="https://cdn.tailwindcss.com"></script>
    <link rel="stylesheet" href="path/to/nice-select.css">
    <link href="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.css" rel="stylesheet" />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.5.2/css/all.min.css" integrity="sha512-SnH5WK+bZxgPHs44uWIX+LLJAJ9/2PkPKZ5QiAj6Ta86w+fsb2TkcmfRyVX3pBnMFcV7oQPJkl9QevSCWr3W6A==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <style>

        .pagination{
           display: flex;
           justify-content: center;
           align-items: center;
        }
        .previous_page{
           padding-top: 6px;
           padding-bottom: 6px;
           padding-left: 12px;
           padding-right: 12px;
           border: 1px solid #D1D5DB;
           border-radius: 4px 0px 0px 4px;
           background-color: #FFFFFF;
           font-size: 14px;
           font-weight: 500;
           color: #6B7280;
        }
        .currentt{
           padding-top: 6px;
           padding-bottom: 6px;
           padding-left: 12px;
           padding-right: 12px;
           border: 1px solid #D1D5DB;
           background-color: #FFFFFF;
           font-size: 14px;
           font-weight: 500;
           color: #6B7280;
           align-items: center;
        }
        .two{
           padding-top: 6px;
           padding-bottom: 6px;
           padding-left: 12px;
           padding-right: 12px;
           border: 1px solid #D1D5DB;
           background-color: #FFFFFF;
           font-size: 14px;
           font-weight: 500;
           color: #6B7280;  
        }
        .next_page{
           padding-top: 6px;
           padding-bottom: 6px;
           padding-left: 12px;
           padding-right: 12px;
           border: 1px solid #D1D5DB;
           border-radius: 0px 4px 4px 0px;
           background-color: #FFFFFF;
           font-size: 14px;
           font-weight: 500;
           color: #6B7280;  
        }
        .three{
           padding-top: 6px;
           padding-bottom: 6px;
           padding-left: 12px;
           padding-right: 12px;
           border: 1px solid #D1D5DB;
           background-color: #FFFFFF;
           font-size: 14px;
           font-weight: 500;
           color: #6B7280;
        }
      </style>
</head>
<body>

  <!-- main body -->
 <div class="xl:ml-[240px] lg:ml-[200px] h-screen">
    <!-- nav -->
  <div class="items-center justify-between   px-3 py-[21px] lg:flex  hidden  2xl:max-w-screen">
    <div class="md:flex items-center gap-2  hidden">
        <h1 class="text-xs font-medium">Dashboard</h1>
        <img src="dashboard arrow.png" alt="" class="mt-[2px]">
        <h1 class="text-xs font-medium text-[#FF8717]">Jobs</h1>
    </div>
    <div class="flex items-center gap-2 ">
       <div class="relative hidden md:block max-w-[230px] w-full">
          <input type="text" id="search-navbar" class="text-nowrap block w-full max-w-[230px] pl-2 pt-2 pb-2 pr-2 ps-4 text-sm text-black border border-white rounded-2xl !bg-[#FFFFFF]   dark:bg-gray-700  dark:placeholder-gray-400 dark:text-white  " placeholder="Search..."> 
         <div class="absolute inset-y-0 end-0 flex items-center pe-3 pointer-events-none">
           <svg class="w-4 h-4 text-gray-500 dark:text-gray-400" aria-hidden="true" xmlns="http://www.w3.org/2000/svg" fill="none" viewBox="0 0 20 20">
             <path stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="m19 19-4-4m0-7A7 7 0 1 1 1 8a7 7 0 0 1 14 0Z"/>
           </svg>
           <span class="sr-only">Search icon</span>
         </div>  
       </div>
        <img src="messagges.png" alt="" class="size-6 p-1">
        <img src="notification.png" alt="" class="size-6 p-1">
        <img src="pic.png" alt="" class="">
    </div>
 </div>
    <!-- main content -->
     <div class="px-[21px] pt-[21px] pb-[105px] bg-[#F7F7F8] h-screen">
        <!-- products -->
         <div class="flex flex-wrap items-center justify-between mb-[28px]">
            <h1 class="text-lg text-[#000000]  font-bold">Products</h1>
            <button type="button" class="w-[135px] h-[34px] flex justify-center items-center px-4 py-2 rounded-lg bg-[#FF8717] text-white whitespace-nowrap text-xs font-medium">Add New Product</button>
         </div>
         <div class="w-full  bg-gray-100 shadow-[0_1px_2px_-1px_#0000001A]">
            <!-- table -->
            <div class=" overflow-auto mb-[23px] rounded-lg bg-gray-50 shadow-[0_1px_2px_1px_#0000001A] ">
              <table class="table w-full ">
             <thead>
                <tr class="border-b bg-gray-50">
                   <th class=" p-4">    
                   </th>
                   <th class="text-start items-center p-4">
                      <h1 class="text-xs font-semibold text-[#6B7280] whitespace-nowrap">Order By</h1>
                   </th>
                   <th class="text-start items-center p-4">
                    <h1 class="text-xs font-semibold text-[#6B7280] whitespace-nowrap">order date</h1>
                   </th>
                   <th class="text-start items-center p-4">
                    <h1 class="text-xs font-semibold text-[#6B7280] whitespace-nowrap">Status</h1>
                   </th>
                   <th class="text-start items-center p-4">
                    <h1 class="text-xs font-semibold text-[#6B7280] whitespace-nowrap">customer email</h1>
                   </th>
                   <th class="text-start items-center p-4">
                    <h1 class="text-xs font-semibold text-[#6B7280] whitespace-nowrap">Tracking No</h1>
                   </th>
                   <th class="text-start items-center p-4">
                    <h1 class="text-xs font-semibold text-[#6B7280] whitespace-nowrap">product</h1>
                   </th>
                   <th class="text-start items-center p-4">
                      <h1 class="text-xs font-semibold text-[#6B7280] whitespace-nowrap">Size</h1>
                   </th>
                   <th class="text-start items-center p-4">
                      <h1 class="text-xs font-semibold text-[#6B7280] whitespace-nowrap">Color</h1>
                   </th>
                   <th class="text-start items-center p-4">
                    <h1 class="text-xs font-semibold text-[#6B7280] whitespace-nowrap">QTY</h1>
                 </th>
                   <th class="text-start items-center p-4">
                      <h1 class="text-xs font-semibold text-[#6B7280] whitespace-nowrap">Price</h1>
                   </th>
                   <th class="text-start items-center p-4">
                      <h1 class="text-xs font-semibold text-[#6B7280] whitespace-nowrap">Description</h1>
                   </th>
                   <th class="text-start items-center p-4">
                    <h1 class="text-xs font-semibold text-[#6B7280] whitespace-nowrap">ACTION</h1>
                 </th>
                </tr>
                <!-- first -->
                <tr class="border-b bg-[#FFFFFF] ">
                   <th class="items-center px-4 py-[19px] ">
                      <input  type="checkbox"  class="justify-start flex items-center  p-[2.5px] gap-[2.5px] w-4 h-4  text-[#FF8717] !appearance-none  !outline-none bg-gray-50 border-[0.5px] border-gray-300 rounded  "/>
                   </th>
                   <th class="text-start items-center py-4  flex gap-[10px] w-[159px]   pl-4 pr-7 md:pr-[10px]">
                      <img src="./assets/images/pic.png" alt="" class="size-8">
                      <h1 class="text-sm font-normal text-[#6B7280] whitespace-nowrap">Adam Martin</h1>
                   </th>
                   <th class="text-start items-center  p-4">
                    <h1 class="text-sm font-normal text-[#6B7280] w-[67px] whitespace-nowrap">10-08-24</h1>
                   </th>
                   <th class="text-start items-center   pl-4 pr-3 py-4">
                    <select  class="block  w-[90px] pl-[10px] pr-[8px] pb-[5px] pt-[2px] text-xs font-medium text-[#03543F]  rounded-md bg-green-100 border-0 focus:border-0 focus:outline-0 focus:outline-none focus:ring-0 !outline-none">
                        <option data-display="select">Select</option>
                        <option>pending</option>
                        <option>Delivered</option>
                      </select>
                   </th>
                   <th class="text-start items-center   p-4">
                    <h1 class="text-sm font-normal text-[#6B7280] w-[124px]  whitespace-nowrap">adil@gmail.com</h1>
                   </th>
                   <th class="text-start items-center   p-4">
                    <h1 class="text-sm font-normal text-[#6B7280] h-[22px] w-[124px] whitespace-nowrap">1000001</h1>
                   </th>
                   <th class="text-start items-center py-[11px]  flex gap-2 w-[180px]  item-center pl-4 pr-7 md:pr-[13px]">
                    <img src="./assets/images/pic.png" alt="" class="size-8">
                    <h1 class="text-sm font-normal text-[#6B7280] whitespace-nowrap">Adam Martin</h1>
                 </th>
                   <th class="text-start items-center  p-4">
                      <h1 class="text-sm font-normal w-[26px] text-[#6B7280] whitespace-nowrap">26</h1>
                   </th>
                   <th class="text-start items-center  p-4">
                      <h1 class="text-sm font-normal w-[44px] text-[#6B7280] whitespace-nowrap">Red</h1>
                   </th>
                   <th class="text-start items-center  p-4">
                    <h1 class="text-sm font-normal w-[21px] text-[#6B7280] whitespace-nowrap">2</h1>
                   </th>
                   <th class="text-start items-center  p-4">
                    <h1 class="text-sm font-normal w-[29px] text-[#6B7280] whitespace-nowrap">$20</h1>
                   </th>
                   <th class="text-start items-center   p-4">
                    <h1 class="text-sm font-normal  w-[320px] text-[#6B7280] whitespace-nowrap">SingleLorem Ipsum is simply dummy text the</h1>
                   </th>
                   <th class="flex gap-3 items-center w-[93px]  pl-[16px] pr-[17px] py-[15px]">
                    <img src="./assets/images/edit.png" alt="" class="size-6">
                    <img src="./assets/images/eye.png" alt="" class="size-6">
                   </th>
                </tr>
                <!-- second row -->
                <tr class="border-b bg-[#FFFFFF] ">
                    <th class="items-center px-4 py-[19px] ">
                       <input  type="checkbox"  class="justify-start flex items-center  p-[2.5px] gap-[2.5px] w-4 h-4  text-[#FF8717] !appearance-none  !outline-none bg-gray-50 border-[0.5px] border-gray-300 rounded  "/>
                    </th>
                    <th class="text-start items-center py-4  flex gap-[10px] w-[159px]  item-center pl-4 pr-7 md:pr-[10px]">
                       <!-- <%= image_tag "pic.png" , class: "size-8" %> -->
                       <h1 class="text-sm font-normal text-[#6B7280] whitespace-nowrap">Adam Martin</h1>
                    </th>
                    <th class="text-start items-center  p-4">
                     <h1 class="text-sm font-normal text-[#6B7280] w-[67px] whitespace-nowrap">10-08-24</h1>
                    </th>
                    <th class="text-start items-center   pl-4 pr-3 py-4">
                     <select  class="block  w-[90px] pl-[10px] pr-[8px] pt-[2px] pb-[5px]  text-xs font-medium text-[#03543F]  rounded-md bg-green-100 border-0 focus:border-0 focus:outline-0 focus:outline-none focus:ring-0 !outline-none">
                         <option data-display="select">Select</option>
                         <option>pending</option>
                         <option>Delivered</option>
                       </select>
                    </th>
                    <th class="text-start items-center   p-4">
                     <h1 class="text-sm font-normal text-[#6B7280] w-[124px]  whitespace-nowrap">adil@gmail.com</h1>
                    </th>
                    <th class="text-start items-center   p-4">
                     <h1 class="text-sm font-normal text-[#6B7280] h-[22px] w-[124px] whitespace-nowrap">1000001</h1>
                    </th>
                    <th class="text-start items-center py-[11px]  flex gap-2 w-[180px]  item-center pl-4 pr-7 md:pr-[13px]">
                     <!-- <%= image_tag "pic.png" , class: "size-8" %> -->
                     <h1 class="text-sm font-normal text-[#6B7280] whitespace-nowrap">Adam Martin</h1>
                  </th>
                    <th class="text-start items-center  p-4">
                       <h1 class="text-sm font-normal w-[26px] text-[#6B7280] whitespace-nowrap">26</h1>
                    </th>
                    <th class="text-start items-center  p-4">
                       <h1 class="text-sm font-normal w-[44px] text-[#6B7280] whitespace-nowrap">Red</h1>
                    </th>
                    <th class="text-start items-center  p-4">
                     <h1 class="text-sm font-normal w-[21px] text-[#6B7280] whitespace-nowrap">2</h1>
                    </th>
                    <th class="text-start items-center  p-4">
                     <h1 class="text-sm font-normal w-[29px] text-[#6B7280] whitespace-nowrap">$20</h1>
                    </th>
                    <th class="text-start items-center   p-4">
                     <h1 class="text-sm font-normal  w-[320px] text-[#6B7280] whitespace-nowrap">SingleLorem Ipsum is simply dummy text the</h1>
                    </th>
                    <th class="flex gap-3 items-center w-[93px]  pl-[16px] pr-[17px] py-[15px]">
                     <!-- <%= image_tag "edit.png" , class: "size-6 cursor-pointer" %>
                     <%= image_tag "eye.png" , class: "size-6 cursor-pointer" %> -->  
                    </th>
                 </tr>
                <!-- third row -->
                <tr class="border-b bg-[#FFFFFF] ">
                    <th class="items-center px-4 py-[19px] ">
                       <input  type="checkbox"  class="justify-start flex items-center  p-[2.5px] gap-[2.5px] w-4 h-4  text-[#FF8717] !appearance-none  !outline-none bg-gray-50 border-[0.5px] border-gray-300 rounded  "/>
                    </th>
                    <th class="text-start items-center py-4  flex gap-[10px] w-[159px]  item-center pl-4 pr-7 md:pr-[10px]">
                       <!-- <%= image_tag "pic.png" , class: "size-8" %> -->
                       <h1 class="text-sm font-normal text-[#6B7280] whitespace-nowrap">Adam Martin</h1>
                    </th>
                    <th class="text-start items-center  p-4">
                     <h1 class="text-sm font-normal text-[#6B7280] w-[67px] whitespace-nowrap">10-08-24</h1>
                    </th>
                    <th class="text-start items-center   pl-4 pr-3 py-4">
                     <select  class="block  w-[90px] pl-[10px] pr-[8px] pb-[5px] pt-[2px] text-xs font-medium text-[#FF2700]  rounded-md bg-[#FEEFEB] border-0 focus:border-0 focus:outline-0 focus:outline-none focus:ring-0 !outline-none">
                        <option data-display="select">Select</option>
                        <option>pending</option>
                        <option>Delivered</option>
                     </select>
                    </th>
                    <th class="text-start items-center   p-4">
                     <h1 class="text-sm font-normal text-[#6B7280] w-[124px]  whitespace-nowrap">adil@gmail.com</h1>
                    </th>
                    <th class="text-start items-center   p-4">
                     <h1 class="text-sm font-normal text-[#6B7280] h-[22px] w-[124px] whitespace-nowrap">1000001</h1>
                    </th>
                    <th class="text-start items-center py-[11px]  flex gap-2 w-[180px]  item-center pl-4 pr-7 md:pr-[13px]">
                     <!-- <%= image_tag "pic.png" , class: "size-8" %> -->
                     <h1 class="text-sm font-normal text-[#6B7280] whitespace-nowrap">Adam Martin</h1>
                  </th>
                    <th class="text-start items-center  p-4">
                       <h1 class="text-sm font-normal w-[26px] text-[#6B7280] whitespace-nowrap">26</h1>
                    </th>
                    <th class="text-start items-center  p-4">
                       <h1 class="text-sm font-normal w-[44px] text-[#6B7280] whitespace-nowrap">Red</h1>
                    </th>
                    <th class="text-start items-center  p-4">
                     <h1 class="text-sm font-normal w-[21px] text-[#6B7280] whitespace-nowrap">2</h1>
                    </th>
                    <th class="text-start items-center  p-4">
                     <h1 class="text-sm font-normal w-[29px] text-[#6B7280] whitespace-nowrap">$20</h1>
                    </th>
                    <th class="text-start items-center   p-4">
                     <h1 class="text-sm font-normal  w-[320px] text-[#6B7280] whitespace-nowrap">SingleLorem Ipsum is simply dummy text the</h1>
                    </th>
                    <th class="flex gap-3 items-center w-[93px]  pl-[16px] pr-[17px] py-[15px]">
                     <!-- <%= image_tag "edit.png" , class: "size-6 cursor-pointer" %>
                     <%= image_tag "eye.png" , class: "size-6 cursor-pointer" %> -->  
                    </th>
                 </tr>
                <!-- fourth row -->
                <tr class="border-b bg-[#FFFFFF] ">
                    <th class="items-center px-4 py-[19px] ">
                       <input  type="checkbox"  class="justify-start flex items-center  p-[2.5px] gap-[2.5px] w-4 h-4  text-[#FF8717] !appearance-none  !outline-none bg-gray-50 border-[0.5px] border-gray-300 rounded  "/>
                    </th>
                    <th class="text-start items-center py-4  flex gap-[10px] w-[159px]  item-center pl-4 pr-7 md:pr-[10px]">
                       <!-- <%= image_tag "pic.png" , class: "size-8" %> -->
                       <h1 class="text-sm font-normal text-[#6B7280] whitespace-nowrap">Adam Martin</h1>
                    </th>
                    <th class="text-start items-center  p-4">
                     <h1 class="text-sm font-normal text-[#6B7280] w-[67px] whitespace-nowrap">10-08-24</h1>
                    </th>
                    <th class="text-start items-center   pl-4 pr-3 py-4">
                        <select  class="block  w-[90px] pl-[10px] pr-[8px] pb-[5px] pt-[2px] text-xs font-medium text-[#FF2700]  rounded-md bg-[#FEEFEB] border-0 focus:border-0 focus:outline-0 focus:outline-none focus:ring-0 !outline-none">
                            <option data-display="select">Select</option>
                            <option>pending</option>
                            <option>Delivered</option>
                         </select>
                    </th>
                    <th class="text-start items-center   p-4">
                     <h1 class="text-sm font-normal text-[#6B7280] w-[124px]  whitespace-nowrap">adil@gmail.com</h1>
                    </th>
                    <th class="text-start items-center   p-4">
                     <h1 class="text-sm font-normal text-[#6B7280] h-[22px] w-[124px] whitespace-nowrap">1000001</h1>
                    </th>
                    <th class="text-start items-center py-[11px]  flex gap-2 w-[180px]  item-center pl-4 pr-7 md:pr-[13px]">
                     <!-- <%= image_tag "pic.png" , class: "size-8" %> -->
                     <h1 class="text-sm font-normal text-[#6B7280] whitespace-nowrap">Adam Martin</h1>
                  </th>
                    <th class="text-start items-center  p-4">
                       <h1 class="text-sm font-normal w-[26px] text-[#6B7280] whitespace-nowrap">26</h1>
                    </th>
                    <th class="text-start items-center  p-4">
                       <h1 class="text-sm font-normal w-[44px] text-[#6B7280] whitespace-nowrap">Red</h1>
                    </th>
                    <th class="text-start items-center  p-4">
                     <h1 class="text-sm font-normal w-[21px] text-[#6B7280] whitespace-nowrap">2</h1>
                    </th>
                    <th class="text-start items-center  p-4">
                     <h1 class="text-sm font-normal w-[29px] text-[#6B7280] whitespace-nowrap">$20</h1>
                    </th>
                    <th class="text-start items-center   p-4">
                     <h1 class="text-sm font-normal  w-[320px] text-[#6B7280] whitespace-nowrap">SingleLorem Ipsum is simply dummy text the</h1>
                    </th>
                    <th class="flex gap-3 items-center w-[93px]  pl-[16px] pr-[17px] py-[15px]">
                     <!-- <%= image_tag "edit.png" , class: "size-6 cursor-pointer" %>
                     <%= image_tag "eye.png" , class: "size-6 cursor-pointer" %> -->  
                    </th>
                 </tr>
             </thead>
           </table>
           </div>
           </div>
           <!-- previous -->
           <div class="mx-auto">
            <div role="navigation" aria-label="Pagination" class="pagination"><span class="previous_page disabled" aria-disabled="true">← Previous</span> <em class="currentt" aria-label="Page 1" aria-current="page">1</em> <a rel="next" class="two" aria-label="Page 2" href="/users?page=2">2</a> <a aria-label="Page 3" class="three" href="/users?page=3">3</a> <a class="next_page" rel="next" href="/users?page=2">Next →</a></div>
           </div>    
     </div>
 </div>
 <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.1/jquery.js" integrity="sha512-+k1pnlgt4F1H8L7t3z95o3/KO+o78INEcXTbnoJQ/F2VqDVhWoaiVml/OEHv9HsVgxUaVW+IbiZPUJQfF/YxZw==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
 <script src="https://cdn.jsdelivr.net/npm/flowbite@2.4.1/dist/flowbite.min.js"></script>
 <script src="assets/js/jquery.nice-select.js"></script>
</body>
</html>
<script>
    $(document).ready(function() {
  $('select').niceSelect();
});
</script>